/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* VARIABLES */
:root {
    --up-blue: #03032d;
    --up-dark-blue: #000008;
    --up-gray: #efefef;
    --up-dark-gray: #121212;
    --up-dark-gray-2: #0b0b0b;
    --up-white: #bdbdbd;
}

/* LAYOUT COMPONENTS */

/* COMPONENT - App */

body {
    background: var(--up-dark-gray);
}

#app {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto';
    background: var(--up-dark-gray);
}

/* COMPONENT - Up header */
#up-header {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 1rem !important;
    background: var(--up-blue);
    box-shadow: 0 0 8px 2px black;
}

#up-header img {
    height: 50px;
}

#up-header h3 {
    display: inline-block;
    margin: 0;
    color: var(--up-white);
    font-weight: 600;
}

#up-header h6 {
    margin-left: 58px;
    margin-top: -10px;
    color: var(--up-white);
}

/* COMPONENT - Up footer */
#up-footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--up-blue);
    color: var(--up-white);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 8px 2px black;
}

/* LAYOUT */
#up-menu {
    display: inline-block;
    width: 100%;
    margin-top: 150px;
}

#up-menu .up-flex {
    display: flex;
    margin: 0 20%;
}

#up-menu .up-flex .jogo {
    flex-grow: 1;
    height: 175px;
    width: 200px;
    margin: 0 10%;
    padding: 10px;
    box-shadow: 0 0 8px 1px black;
    background: var(--up-dark-gray-2);
    border-radius: 15px;
    text-align: center;
}

#up-menu .up-flex .jogo h6 {
    font-weight: bold;
    color: var(--up-white)
}

#up-menu img {
    opacity: 0.75;
    width: 75%;
    max-width: 200px;
    border-radius: 5px;
}

#up-menu .up-flex .jogo .btn {
    margin-top: 10px;
    margin-bottom: 125px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 5px;
    background: var(--up-white);
    border: 1px solid var(--up-white);
    color: var(--up-dark-blue);
}

/* JOGO DA VELHA */
#up-jogo {
    display: inline-block;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 125px;
}

#up-jogo .placar {
    display: block;
    width: 375px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 8px 1px black;
    border-radius: 20px;
    font-size: 20px;
    color: var(--up-white);
    background: var(--up-blue);
}

.placar .input-group-text {
    margin: 5px;
    border: 1px solid var(--up-dark-blue);
    background: var(--up-dark-gray-2);
    color: var(--up-white);
}

.jogo-da-velha {
    display: block;
    width: 300px;
    margin: 25px auto;
}

.placar .draw {
    height: 50px;
    margin-top: -50%;
}

.td {
    width: 100px;
    height: 100px;
    border: 1px solid var(--up-dark-blue);
    background: var(--up-blue);
    color: var(--up-white);
    font-size: 45px;
    cursor: pointer;
    position: relative;
}

.mostra-jogador {
    display: block;
    margin: 0 auto 8rem auto;
}

.jogadores{
    text-shadow:1px -1px 0px #222222;
    font-size: 20px;
    color: #ffffff;
    border-radius:10px 10px 10px 10px;
}

.draw {
    text-align: center;
}

/* JOGO DA FORCA */
.flex .up-teclado {
    text-align: center;
    max-width: 315px !important;
    margin: 1rem auto;
    background: var(--up-dark-gray-2);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 8px 1px black;
    font-weight: bold;
}

.flex .up-teclado tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex .up-teclado td {
    cursor: pointer;
    color: var(--up-gray);
    background: var(--up-dark-blue);
    border-radius: 8px;
    margin: 0.25rem;
    padding: 0.5rem;
}

.letter-active{
    background: #610603 !important;
}

.flex button {
    display: block;
    margin: 0 auto 1rem auto;
}

.up-word {
    display: none;
    margin: auto;
    background: var(--up-dark-gray-2);
    box-shadow: 0 0 8px 1px black;
    font-weight: bold;
    color: var(--up-gray);
}

.up-word tr {
    display: block;
    margin: 0.25rem
}

.up-word td {
    display: inline-block;
    margin: 0.25rem;
}

#imagem-boneco {
    margin: auto;
    height: 200px;
    width: 200px;
    background-image: url('../../../../../public_html/images/e0.png');
}

/* ANIMATIONS */
.up-animation {
    z-index: 3;
    position: absolute;
    background: black;
    height: 100vh;
    width: 100%;
    animation: animate 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.up-dual-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.up-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dual-ring 2s linear infinite;
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        display: block;
        z-index: 3;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
