/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* VARIABLES */
:root {
    --up-blue: #03032d;
    --up-dark-blue: #000008;
    --up-gray: #efefef;
    --up-dark-gray: #121212;
    --up-dark-gray-2: #0f0f0f;
    --up-white: #bdbdbd;
}

/* LAYOUT COMPONENTS */

/* COMPONENT - App */

#app {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
    background: var(--up-dark-gray);
}

/* COMPONENT - Up header */
#up-header {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 1rem !important;
    background: var(--up-blue);
    box-shadow: 0 0 8px 2px black;
}

#up-header img {
    height: 50px;
}

#up-header h3 {
    display: inline-block;
    margin: 0;
    color: var(--up-white);
    font-weight: 600;
}

#up-header h6 {
    margin-left: 58px;
    margin-top: -10px;
    color: var(--up-white);
}

/* COMPONENT - Up footer */
#up-footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--up-blue);
    color: var(--up-white);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 8px 2px black;
}

/* LAYOUT */
#up-menu {
    display: inline-block;
    width: 100%;
    margin-top: 150px;
}

#up-menu .up-flex {
    display: flex;
    margin: 0 20%;
}

#up-menu .up-flex .jogo {
    flex-grow: 1;
    height: 175px;
    width: 200px;
    margin: 0 10%;
    padding: 10px;
    box-shadow: 0 0 8px 1px black;
    background: var(--up-dark-gray-2);
    border-radius: 15px;
    text-align: center;
}

#up-menu .up-flex .jogo h6 {
    font-weight: bold;
    color: var(--up-white)
}

#up-menu img {
    opacity: 0.75;
    width: 75%;
    max-width: 200px;
    border-radius: 5px;
}

#up-menu .up-flex .jogo .btn {
    margin-top: 10px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 5px;
    background: black;
    border: 1px solid black;
    color: var(--up-white);
}

/* JOGO DA VELHA */
.CSS{
width: 100px;
height: 100px;
background: #e74c3c;
font-size: 80px;
color: #ffffff;
cursor: pointer;
position: relative;
}
.CLASSCSS{
background: #ffffff;
}
.CAB{
text-shadow:1px -1px 0px #222222;
background: #e74c3c;
font-size: 20px;
position: relative;
color: #ffffff;
border-radius:10px 10px 10px 10px;
}
.jogador{
text-shadow:1px -1px 0px #222222;
background: #e74c3c;
font-size: 20px;
color: #ffffff;
border-radius:10px 10px 10px 10px;
position: relative;
top: 20px;
}
.jogadores{
text-shadow:1px -1px 0px #222222;
background: #e74c3c;
font-size: 20px;
color: #ffffff;
border-radius:10px 10px 10px 10px;
}
.velhas {
  text-align: center;
}

/* ANIMATIONS */
.up-animation {
    z-index: 3;
    position: absolute;
    background: black;
    height: 100vh;
    width: 100%;
    animation: animate 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.up-dual-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.up-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dual-ring 2s linear infinite;
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        display: block;
        z-index: 3;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
